$white: #ffffff;
$light-gray: #efefef;
$dark-gray: #333333;
$light-blue: #b9c4e2;

.yellow {
  background-color: #ece784;
  border: 1px solid #ece784;
}

.green {
  background-color: #afff98;
  border: 1px solid #afff98;
}

.red {
  background-color: #ff6f6f;
  border: 1px solid #ff6f6f;
}

.khaki {
  background-color: #acc38b;
  border: 1px solid #acc38b;
}

.violet {
  background-color: #bb84ec;
  border: 1px solid #bb84ec;
}

.blue {
  background-color: #84b8ec;
  border: 1px solid #84b8ec;
}
